.CategoryWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.CategoryTextWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 40px 80px 40px;
}
.categoryDescription {
  color: var(--txt-black, #282828);
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-right: 32px;
}

.line {
  width: 16px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.categoryBtn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  background: white;
  height: 36px;
  /* margin: 20px auto; */
}

.categoryBtnAdaptive {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  background: white;
  height: 36px;
  margin: 20px auto;
}

.categoryBtnDescription {
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  text-decoration: none;
}

.categoryCardWrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.categoryCard {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-shrink: 1;
}

.categoryCardText {
  color: var(--txt-black, #282828);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
}

.categoryImg {
  width: 320px;
  height: 100%;
  border-radius: var(--radius-big, 12px);
}

.textPriceWithDiscount {
  color: var(--txt-black, #282828);
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

.textPriceFullPrice {
  color: var(--txt-grey, #8b8b8b);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: line-through;
  margin: 17px 0px 0px 32px;
}

.PriceDiscountWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0px 0px 0px;
}
.singleCardDescription {
  max-width: 548px;
  width: 100%;
  margin: 0px 0px 0px 32px;
}

.saleBlock {
  color: var(--txt-white, #fff);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  margin: 0px 1px 40px 16px;
  padding: 5px 10px;
}

.btnMinus {
  display: flex;
  width: 58px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}

.btnMinusImg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btnPlus {
  display: flex;
  width: 58px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}

.btnPlusImg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.canculateCountText {
  display: flex;
  width: 96px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--grey-divider, #ddd);
  border-bottom: 1px solid var(--grey-divider, #ddd);

  color: var(--txt-black, #282828);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
}

.btnAddToCard {
  display: flex;
  max-width: 316px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  border: none;
  margin-left: 32px;
}

.btnAddToCardText {
  color: var(--txt-white, #fff);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  margin: 0px 32px 0px 32px;
}

.conculation {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0px 0px 0px;
}

.productTextDescription {
  color: var(--txt-black, #282828);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.productTextDescriptionMain {
  color: var(--txt-black, #282828);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 32px;
}

.productTextDescriptionReadMore {
  color: var(--txt-black, #282828);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: underline;
  background: none;
  border: none;
  margin-top: 16px;
}

.lightTheme {
  background-color: #fff;
  color: #000;
}

.darkTheme {
  background-color: #333;
  color: #fff;
}

.clamp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 480px) {
  .categoryBtnAdaptive {
    display: none;
  }
}

@media (max-width: 480px) {
  .CategoryTextWrapper {
    justify-content: center;
  }
  .categoryDescription {
    font-size: 40px;
  }

  .line {
    display: none;
  }
  .categoryBtn {
    display: none;
  }
}

@media (min-width: 480px) {
  .categoryDescription {
    font-size: 40px;
    margin-right: 0px;
    margin-top: 11px;
  }
}
