.mapWrapper {
  border-radius: var(--radius-big, 12px);
  background: cover no-repeat;
  max-width: 1360px;
}

.iframeStyles {
  border: 0;
  width: 100%;
  height: 350px;
  border-radius: var(--radius-big, 12px);
}
