* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
}

.gardenLogo {
 width: 70px;
 height: 70px;
 flex-shrink: 0;
 margin: 30px 0px 28px 40px;
}

.navigationWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    border-bottom: 1px solid var(--grey-divider, #DDD);
    background: var(--white, #FFF);
    align-items: center;
    justify-content: center;
}

.mainNavigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 54px 0px 48px 351px;
}

.mainNavigationList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
}

.mainNavigationList a {
    text-decoration: none;
}

.bucketLogo {
    margin: 41px 40px 31px 373px;
}
.headerText {
    font-family: 'Montserrat', sans-serif;
    color: var(--txt-black, #282828);
    font-size: 20px;
    line-height: 130%;
}

